<div class="col">
    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('../../../assets/img/card/workout.jpg');">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h2>
        <ul class="d-flex list-unstyled mt-auto">
          <li class="me-auto">
            <button type="button" class="btn btn-primary btn-sm" (click)="goToSubscribe()">Subscribe</button>
          </li>
          <li class="d-flex align-items-center me-3">
            <i class="fa-solid fa-hourglass-end"></i>&nbsp;
            <small>12 Weeks</small>
          </li>
          <li class="d-flex align-items-center">
            <i class="fa-solid fa-coins"></i> &nbsp;
            <small>150 TND</small>
          </li>
        </ul>
      </div>
    </div>
  </div>